"*":
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  core: {}
  "exception-reporting":
    userId: "5dee48bf-c30f-4bd7-98d1-176f0970d85d"
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
